html, body {
	margin: 0;
	padding: 0;
	background: radial-gradient(#0079bf, #212f38);
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
}


/**/
/* Header */
/**/

.header {
	width: 100%;
	height: 50px;
	background: #f6f6f6;
	border-bottom: solid 2px #283593;
	box-shadow: 0px 0px 10px #000;
	margin-bottom: 20px;
}
.title {
	color: #283593;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 800;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 3px;
	height: 100%;
	width: 100%;
	margin-left: 50px;
}
.account {
	display: inline-block;
	float: right;
	height: 100%;
	margin-right: 50px;
	line-height: 50px;
}
.account a {
	color: #3F51B5;
	text-shadow: none;
	text-decoration: none;
	font-weight: 600;
	font-size: 15px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 1)
}
.account a:hover {
	color: #7986CB;
	cursor: pointer;
}

/**/
/* Info container */
/**/

.info {
	width: 80%;
	padding: 10px;
	margin: auto;
	background: rgb(90, 200, 90);
	border: solid 1px rgb(0, 255, 0);
	box-shadow: inset 0 0 1px #000, 0 0 10px #000;
	display: none;
	margin-bottom: 10px;
}
.info-content {
	display: inline-block;
	position: absolute;
	margin-top: 10px;
	margin-left: 15px;
}
.info:before {
	display: inline-block;
	width: 25px;
	height: 25px;
	content: "";
	background: url("./info.png") no-repeat 0 0;
	background-size: 100%;
	margin-top: 5px;
	filter: invert(100%);
}
.info.error {
	background: rgb(200, 90, 90);
	border-color: rgb(255, 0, 0);
}
.info.error:before {
	display: inline-block;
	width: 25px;
	height: 25px;
	content: "";
	background: url("./error.png") no-repeat 0 0;
	background-size: 100%;
	margin-top: 5px;
	filter: invert(100%);
}
.show {
	display: block!important;
}


/**/
/* Container */
/**/

.container {
	max-width: 1200px;
	background: #f6f6f6;
	border: solid 2px #2957b5;
	border-radius: 5px;
	margin: auto;
	box-shadow: 0px 0px 10px #000;
}
#reset-container {
	width: 300px;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -100px;
	opacity: 0;
	-webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
}
#login-container {
	width: 300px;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -170px;
	opacity: 0;
	-webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
}
#register-container {
	width: 300px;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -200px;
	opacity: 0;
	-webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
}
.container .title {
	height: 50px;
	width: 80%;
	border: none;
	background: none;
	padding: 10px;
	border-bottom: solid 5px;
	border-radius: 0;
	margin: auto;
	position: relative;
	margin-bottom: 20px;
	box-shadow: none;
}
.container input {
	display: block;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	width: 250px;
	height: 30px;
	margin: auto;
	margin-top: 20px;
	background: #d8d8d8;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #000;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	padding-left: 15px;
	outline: none;
}
.container input:hover {
	background: #dfe9ec;
	color: #414848;
}
/*.container input:focus {
	background: #dfe9ec;
	color: #414848;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}*/
.container input[type=submit], input[type=button] {
	    padding: 0;
		font-family: 'Bree Serif', serif;
		font-size: 18px;
		color: #fff;
		text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
		background: #5C6BC0;
		border: 1px solid #3F51B5;
		border-radius: 5px;
		cursor: pointer;
		box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
		-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
		-webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
}
.container input[type=submit]:hover, input[type=button]:hover {
	background: #3F51B5;
	color: #eee;
}
.container input[type=submit]:active, input[type=button]:active {
	border: 1px solid rgba(256,256,256,0.75);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
.container .footer {
	padding: 5px;
	padding-left: 25px;
	overflow: auto;
	background: #e0e4fb;
	border: none;
	border-top: 1px solid #fff;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #464646;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 1)
}
.container .footer a {
	color: #3F51B5;
	text-shadow: none;
}


/**/
/* Montage */
/**/

.container-outer {
	text-align: center;
	min-width: 85%;
}
.main-container {
	padding: 5%;
	display: inline-flex;
}
.main-container .left {
	width: 80%;
	text-align: center;
	display: inline-block;
}
.main-container .left p {
	display: inline-block;
}
.main-container .left input {
	display: inline-block;
	width: 100%;
	margin: 0;
}
.main-container .left ::-webkit-input-placeholder {
	text-align: center;
}
.main-container .left-inner {
	width: auto;
	display: inline-block;
}
.main-container .left-inner .options {
	padding: 5px;
	margin-top: 20px;
	display: inline-block;
}
.main-container .left-inner .options input {
}
.main-container .left-inner .options .button {
	display: inline-block!important;
	height: 30px;
	padding: 5px;
	width: 100px;
}
.main-container .title-container {
	width: 70%;
	max-width: 500px;
	padding: 10px;
}

.camera-container {
	display: inline-block;
	margin: auto;
	margin-top: 20px;
}
.camera {
	display: none;
	max-width: 100%;
}
.picture {
	display: none;
	max-width: 100%;
}
.dragme {
	position: absolute;
	z-index: 10;
	width: 200px;
	transform: rotate(0deg);
}
.dragme:hover {
	cursor: pointer;
}

.main-container .right {
	display: block;
	height: 70%;
	width: 200px;
	margin-left: 20px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.sidebar .title {
	padding: 0;
	font-size: 20px;
}

.stickers-container {
	width: 100%;
	margin-top: 20px;
}
.pic-holder {
	width: 100%;
}
.pic-holder .inner {
	width: 100%;
}
.stickers-canvas {
	position: absolute;
}
.stickers-canvas .sticker {
	pointer-events: none;
	width: 100%;
}
.stickers-canvas .sticker-del {
	opacity: 0;
	position: absolute;
}
.stickers-canvas .dragme:hover .sticker-del {
	opacity: 1;
}
.stickers-canvas .slider {
	all: initial;
	appearance: none;
	display: block;
	opacity: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #f6f6f6;
	margin-top: 5px;
	position: absolute;
	left: 0;
}
.stickers-canvas .slider-vert {
	all: initial;
	appearance: none;
	display: block;
	opacity: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #f6f6f6;
	transform-origin: 0 0;
	transform: rotate(-90deg);
	position: absolute;
	left: 0;
}
.stickers-canvas .dragme:hover .slider {
	opacity: 1;
	background: #f6f6f6;
}
.sticker {
	width: 100px;
}
.sticker:hover {
	cursor: pointer;
}
.take-picture {
	width: 60px;
	margin-top: 20px;
	height: 30px;
	display: block;
}
.take-picture[disabled] {
	cursor: not-allowed;
}
.uploader {
    position:relative; 
    overflow:hidden; 
    width:300px; 
    height:350px;
    background:#f3f3f3; 
    border:2px dashed #e8e8e8;
}

#filePhoto{
    position:absolute;
    width:300px;
    height:400px;
    top:-50px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.uploader img{
    position:absolute;
    width:302px;
    height:352px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}


/**/
/* Gallery */
/**/

.gallery {
	position: relative;
	width: 90%;
	text-align: center;
	margin: auto;
	display: block;
}
.picture-holder {
	position: relative;
	display: inline-block;
	min-width: 300px;
	max-width: 300px;
	margin-top: 50px;
	padding: 20px;
}
.picture-content {
	position: relative;
	background: #eee;
	display: inline-block;
	border: solid 1px #0b3d95;
    box-shadow: 0 0 80px -10px #000;
	max-height: 100%;
	max-width: 100%;
}
.picture-holder .picture {
	position: relative;
	display: block;
	max-height: 300px;
	max-width: 100%;
}
.picture-holder .title {
	all: initial;
	display: block;
	font-size: 20px;
	font-weight: bold;
    text-align: center;
    color: #9FA8DA;
    text-shadow: 1px 1px 0px #000;
    font-family: sans-serif;
}
.picture-holder .username {
	all: initial;
	display: inline-block;
	color: #295bbe;
	font-size: 20px;
	font-weight: bold;
}
.like {
	position: absolute;
	left: 0;
	height: 23px;
	width: 40px;
}
.comment {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 24px;
	width: 40px;
}
.right .picture-holder {
	min-width: 0;
	margin-top: 0;
}
.right .delete {
	width: 30px;
	background-color: rgb(199, 41, 41);
	height: 24px;
	margin-top: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.right .delete:hover {
	background-color: rgb(212, 101, 101);
}
.right .delete:active {
	background-color: rgb(162, 0, 0);
}
.right .title {
	padding: 0;
	font-size: 18px;
}


/**/
/* Comments */
/**/

.comments-outer {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}
.comments-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	margin: auto;
	left: 0;
	right: 0;
	width: 500px;
	max-width: 100%;
}
.comments-container input {
	display: inline-block;
}
.comments-container input[type=submit] {
	display: inline-block;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}
.comments-container .comments {

}
.comments-container .new-comment {

}
.comments-container .comments .comment {
	display: block;
}

/**/
/* Pagination */
/**/

.pagination {
	display: inline-block;
}
.pagination a.active {
	background-color: #3F51B5;
	pointer-events: none;
}
.pagination a {
	color: #9FA8DA;
	padding: 0px 16px;
	text-decoration: none;
	transition: background-color 0.3s;
}
.pagination a:hover {
	background-color: #3F51B5;
}


/**/
/* Animations */
/**/
.roll-in {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.roll-out {
	-webkit-animation: roll-out-blurred-right 0.65s cubic-bezier(0.755, 0.250, 0.250, 0.250) both;
	animation: roll-out-blurred-right 0.65s cubic-bezier(0.755, 0.250, 0.250, 0.250) both;
}

/* animation roll-out-blurred-right */
@-webkit-keyframes roll-out-blurred-right {
	0% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		/*-webkit-filter: blur(0);*/
		/*filter: blur(0);*/
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(1000px) rotate(720deg);
		transform: translateX(1000px) rotate(720deg);
		/*-webkit-filter: blur(50px);*/
		/*filter: blur(50px);*/
		opacity: 0;
	}
}
@keyframes roll-out-blurred-right {
	0% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		/*-webkit-filter: blur(0);*/
		/*filter: blur(0);*/
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(1000px) rotate(720deg);
		transform: translateX(1000px) rotate(720deg);
		/*-webkit-filter: blur(50px);*/
		/*filter: blur(50px);*/
		opacity: 0;
	}
}

/* animation roll-in-blurred-left */
@-webkit-keyframes roll-in-blurred-left {
	0% {
		-webkit-transform: translateX(-1000px) rotate(-720deg);
		transform: translateX(-1000px) rotate(-720deg);
		/*-webkit-filter: blur(50px);*/
		/*filter: blur(50px);*/
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		/*-webkit-filter: blur(0);*/
		/*filter: blur(0);*/
		opacity: 1;
	}
}
@keyframes roll-in-blurred-left {
	0% {
		-webkit-transform: translateX(-1000px) rotate(-720deg);
		transform: translateX(-1000px) rotate(-720deg);
		/*-webkit-filter: blur(50px);*/
		/*filter: blur(50px);*/
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		/*-webkit-filter: blur(0);*/
		/*filter: blur(0);*/
		opacity: 1;
	}
}