html, body {
	margin: 0;
	padding: 0;
}
.sidebar {
	position: absolute;
	left: 0;
	float: left;
	width: 210px;
	height: 100vh;
	background: #252525;
	color: #eee;
	border-right: solid 2px #eee;
	z-index: 100;
	padding-top: 20px
}
.main {
	position: relative;
	float: right;
	width: calc(100% - 210px);
	height: 100vh;
}
.main > canvas {
	float: right;
}
.text {
	margin-top: 20px;
	width: 80%;
	height: 500px;
}
#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	/*background-color: rgba(0,0,0,0.5);*/
	display: none;
}
#instructions {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-box-align: bottom;
	-moz-box-align: bottom;
	box-align: bottom;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}
#cursor {
	position: absolute;
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
}
#cursor > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-shadow: 0 0 #fff;
}
#info {
	position: absolute;
	color: white;
	width: 100%;
	height: 100%;
	display: inline-block;
}
#info > span {
	position: absolute;
	width: 200px;
    top: 52%;
    left: calc(50% + 110px);
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 0 0 #fff;
}